
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0 ; 
  border: 0; 
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #151515 !important;
  font-weight: 400;
  font-size: 16px;
  color: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1.3;
  font-weight: 700; }

a,
a:active,
a:focus,
a:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none;
  font-weight: 500; }

li {
  list-style: none; }

p {
  line-height: 1.9;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400; }

img {
	border:none;
}





/* Navigation Bar */
#mainNav {
  top:0;
  position: fixed;
  background-color: #151515;
}

.navbar {
  min-height: 70px;
}


.navbar-toggler .navbar-toggler-icon { 
  background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(71, 75, 79, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } 

.navbar-toggler .navbar-toggler-icon:hover { 
  background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(134, 194, 50, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } 


#mainNav .navbar-brand {
  color: #86C232;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color:  #474B4F;
  border: none;
  outline: none;
}


#mainNav .navbar-nav > li.nav-item > a {
  color: white;
  letter-spacing: 1px;
}


#mainNav .navbar-nav > li.nav-item > a:hover {
  color: #86C232;
}


@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  #mainNav .navbar-brand {
    padding: 10px 20px;
  }
}

/* Main page */ 
.masthead {
  margin-top:60px;
  background: url(img/mainpage-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 690px;
}

.masthead .masthead-text{
  float: right;
  padding-left: 30px;
  padding-top: 100px;
}

.masthead .masthead-heading {
  padding-top: 150px;
  color: #86C232;
  line-height: 2.75rem;
  font-size: 60px;
  font-weight: 700;
}

.masthead .masthead-text p {
  padding-top: 20px;
  font-size: 18px;
}


@media (min-width: 760px) and (max-width: 1025px){

  .masthead {
    margin-top: 0px;
  }

}


@media screen and (max-width: 450px ){
   .masthead { 
    margin-top:0px;
   }


   .masthead .masthead-heading {
    padding-top: 180px;
    line-height: 60px;
   }

   .masthead .masthead-text {
    text-align: center;
    float: none;
    padding-left: 0;
   }

   .masthead .masthead-text p {
    padding-top: 5px;
    font-size: 12px;
   }


   .tasks-masthead h1 {
      font-size: 30px;
   }
}


/*headers */ 
.submasthead{
  margin-top:60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

 
.tasks-masthead{
  background: url(img/task-header.jpg);
}
.cross-masthead{
  background: url(img/cross-header.jpg);
}

.tasks-masthead h1,
.cross-masthead h1{
  padding-top: 150px;
  text-transform: uppercase;
  font-weight: 700;
  color: #86C232;
}

/* tasks page */
#tasks{
  padding-top: 40px;
  padding-bottom: 20px;
}

#tasks ul li {
  color: #474B4F;
}

/* križovatky */ 


canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
}

canvas, img {
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}